
.slideCard-container
{
    overflow: visible;
    margin: 40px 0;
    /* padding: 2rem 5%; */
}

.tituloBuscador
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.tituloBuscador h1 {
    margin-bottom: 1rem;
}

.buscador input
{
    border: none;
}

.buscador input:focus
{
    outline: none;
}

.buscador
{
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

.card-slider .slide
{
    text-align: center;
    min-width: 267.25px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.card-slider .slide .cardImage
{
    position: relative;
    height: 175px;
    margin-bottom: 10px;
}

.card-slider .slide .cardImage img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.card-slider .slide .content h3
{
    font-size: 1.3rem;
    text-transform: capitalize;
}

.card-slider .slide .content span
{
    font-size: 1.02rem;
    line-height: 2;
    font-weight: 600;
}

.card-slider .slide .content p
{
    color: #233;
    margin-bottom: 14px;
}

.card-slider .slide .cardBtn
{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card-slider .slide .cardBtn button
{
    flex-basis: 80px;
    cursor: pointer;
    border: none;
    background-color: purple;
    color: #fff;
    padding: 10px 8px;
    border-radius: 15px;
}

.card-slider .swiper-button-next
{
    right: 0px;
}

.card-slider .swiper-button-prev
{
    left: 0px;
}