
  header{
    margin-bottom: 2px;
      border-bottom: 0.1rem solid black;
      display: flex;
      min-height: 70px;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 0.1rem solid rgb(0, 0, 0);
  }

  
  .headerNav a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);  
  }
  
  .registro{
      background-color: rgb(6, 10, 255);
  }
  
  .logo {
      text-decoration: none;
      display: flex;
      align-items: center;
      
  }
  .logo img{
      border-radius: 50px;
      height: 100px;
      margin-right: 10px;
  }
  
  nav a{
      font-weight: 600px;
      padding-right: 30px;
  }
  
  nav a:hover{
      background-color:rgb(172, 173, 175);
      color: white;
      padding: 15px 15px;
      border-radius: 25px;
  }
  
  .nombre-proyecto{
      color: black;
      
  }
  
  