<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link de Css -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Link de Swipper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link rel="icon" href="../images/favicon.png">

    <title>Partner</title>

</head>

<body>
    <!-- Header inicio -->

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="#" class="logo">
            <img src="../images/logo.png" alt="">
            <span>partner</span>
        </a>

        <nav class="navbar">
            <a href="">Inicio</a>
            <a href="nosotros.html">Nosotros</a>
            <a href="">Voluntariados</a>
            <a href="">Contacto</a>
        </nav>

        <div class="login">
            <p>Sé un partner</p>
            <div id="login-btn" class="fa-solid fa-user"></div>
            <div class="botones">
                <a href="/register" class="btn">Registrate</a>
                <a href="/login" class="btn2">Iniciar sesión</a>
                <a href="#">Ofrece una experiencia</a>
            </div>
        </div>

    </header>

    <div class="bloque">
        BLOQUE
    </div>

    <!-- Header fin -->

    <main>

        <!-- Carrusel inicio -->

        <section class="inicio">
            <div class="swiper carrusel-inicio">
                <div class="swiper-wrapper">
                    {{!-- Caja 1 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar1.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                    {{!-- Caja 2 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar2.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                    {{!-- Caja 3 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar3.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                    {{!-- Caja 4 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar4.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                </div>
            </div>
        </section>

        <!-- Carrusel fin -->

        <!-- Carrusel-Cards inicio -->

        <section class="cards">

            <h1 class="cardsTitle">Mira los <span>voluntariados</span> cerca tuyo!</h1>

            <div class="swiper cards-slide">

                <div class="swiper-wrapper">
                    {{!-- Aca se encuentran las cards del carrusel --}}
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar1.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Ayudanos en apoyo escolar</h3>
                            <p class="horario">este jueves de 12 a 14hs</p>
                            <span class="nombre">FunEmaus - San Cristóbal 2021</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar2.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Repartimos tuppers de comida!</h3>
                            <p class="horario">todos los sábados de 19 a 20hs</p>
                            <span class="nombre">Noche Solidaria - Pza Lezama</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/limpieza_bosque1.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Ayudanos a recoger basura</h3>
                            <p class="horario">este domingo de 12 a 14hs</p>
                            <span class="nombre">GreenPeace - El Bosque</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar4.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Vení a repartir ropa con nosotros</h3>
                            <p class="horario">este jueves de 10 a 12hs</p>
                            <span class="nombre">La Esperanza - Santiago 2030</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/agua_voluntariado.jpg" alt="agua voluntariado">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Llevemos agua a quienes no la tienen</h3>
                            <p class="horario">lunes a las 10hs</p>
                            <span class="nombre">AMIA - Centro</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/envase_ropa_voluntariado.jpg" alt="envase ropa voluntariado">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Ven a repartir ropa a indigentes</h3>
                            <p class="horario">todos los sábados de 19 a 20hs</p>
                            <span class="nombre">Noche Solidaria - Pza Lezama</span>
                        </div>
                    </a>
                </div>

            </div>
        </section>
<!-- Carrusel-Cards fin -->

{{!-- CARDS SIN CARRUSEL --}}
<section>
    <div class="cards_sin_slide_box">
        <div class="cards_sin_slide">
            <a href="#">
           <div class="image">
               <img src="../images/niños_juego.jpg" alt="envase ropa voluntariado">
           </div>
           <div class="contenido">
               <h3 class="titulo">Ven a jugar con nuestros niños</h3>
               <p class="horario">todos los sábados de 13 a 15hs</p>
               <span class="nombre">Payasos sin Fronteras - Pza Lezama</span>
           </div>
        </a>
        </div>

        <div class="cards_sin_slide">
            <a href="#">
           <div class="image">
               <img src="../images/desastres_voluntariado.jpg" alt="desastre voluntariado">
           </div>
           <div class="contenido">
               <h3 class="titulo">Reparto de ropa y comida en Corrientes</h3>
               <p class="horario">este viernes a las 15hs</p>
               <span class="nombre">Cáritas - San Miguel</span>
           </div>
           </a>
        </div>

        <div class="cards_sin_slide">
            <a href="#">
           <div class="image">
               <img src="../images/niños_juego.jpg" alt="desastre voluntariado">
           </div>
           <div class="contenido">
               <h3 class="titulo">Reparto de ropa y comida en Corrientes</h3>
               <p class="horario">este viernes a las 15hs</p>
               <span class="nombre">Cáritas - San Miguel</span>
           </div>
            </a>
        </div>

        <div class="cards_sin_slide">
            <a href="#">
           <div class="image">
               <img src="../images/desastres_voluntariado.jpg" alt="desastre voluntariado">
           </div>
           <div class="contenido">
               <h3 class="titulo">Reparto de ropa y comida en Corrientes</h3>
               <p class="horario">este viernes a las 15hs</p>
               <span class="nombre">Cáritas - San Miguel</span>
           </div>
           </a>
        </div>
    </div>
</section>

    </main>

{{!-- NOSOTROS. EL CSS DEL NOSOTROS ESTÁ EN EL FOOTER.CSS--}}

   <div class="nosotros">
        <h1>Nosotros</h1>
        <p>Somos Partner, una organización que trabaja para promover el voluntariado en nuestra sociedad. 
        Unimos la necesidad con la ayuda. Hoy son más de 500.000 voluntarios que usan Partner en la Argentina, y 
        queremos llegar al resto de Latam y el mundo. 
        <br> 
        <br>
        Ayudar en comedores de algún barrio, envasar y repartir tuppercitos de comida a indigentes  con algún grupo de 
        gente en una noche solidaria, ayudar en desastres naturales que han ocurrido en algún lugar de tu país, ayudar a 
        construir una vivienda con alguna fundación como fundación Techo, juntarte a hacer alguna actividad verde como recoger 
        basura en un bosque son algunas de las actividades sociales más realizadas gracias a esta plataforma y tu puedes ser parte
        y ser un Partner.
        <br>
        <br>
        Nuestra misión sería promover el cambio en el mundo desde el voluntariado en y hacia las personas. 
        Queremos ver a un mundo más colaborativo y voluntario, esa sería nuestra visión.
        </p>
        <h2>Detrás de Partner</h2>
            <div class="perfiles">
                <div>
                    <img src="../images/perfiles_equipo/angie_flores-1.jpg" alt="angie flores">
                    <h3 class="titulo">Cofounder Partner</h3> 
                    <br> 
                    <p>Dirección de convenios internacionales y nacionales</p>
                </div>
                <div>
                    <img src="../images/perfiles_equipo/kevin_ibañez-1.jpg" alt="kevin ibañez">
                    <h3 class="titulo">Cofounder Partner</h3>
                    <br>
                    <p>Director de Tecnología</p>
                </div>
                <div>
                    <img src="../images/perfiles_equipo/ale_aguilar-1.jpg" alt="ale aguilar">
                    <h3 class="titulo">Cofounder Partner</h3>
                    <br>
                    <p>Dirección de equipos</p>
                </div>
            </div>

    <!-- Footer-inicio -->

    <footer>
        <div class="footer-container">

            <div class="caja">
                <h2>Redes</h2>
                <div class="redes">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="caja">
                <h2>Contacto</h2>
                <div class="iconos">
                    <a href="#"><i class="fas fa-envelope"></i>consultas@partner.com.ar</a>
                </div>
            </div>

            <div class="caja">
                <h2>Partners</h2>
                <div class="iconos partners">
                    <div><a href="#"><img src="../images/logos_ongs/unicef.png" alt="unicef"></a></div>
                    <div><a href="#"><img src="../images/logos_ongs/caritas_logo.png" alt="caritas"></a></div>
                    <div><a href="#"><img src="../images/logos_ongs/amia.jpg" alt="amia"></a></div>
                    <div><a href="#"><img src="../images/logos_ongs/fund_techo.png" alt="techo"></a></div>
                </div>
            </div>


        </div>

        <div class="copy">Copyright © 2022 <span>Partner S.R.L.</span> | Todos los derechos reservados</div>

    </footer>
    <!-- Footer-fin -->

    <!-- CDN Swipper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- CDN Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Scripts -->
    <script src="../scripts/header.js"></script>

</body>

</html>