<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link de Css -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Link de Swipper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link rel="icon" href="../images/favicon.png">

    <title>Partner</title>

</head>

<body>
    <!-- Header inicio -->

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a href="#" class="logo">
            <img src="../images/logo.png" alt="">
            <span>partner</span>
        </a>

        <nav class="navbar">
            <a href="">Inicio</a>
            <a href="">Nosotros</a>
            <a href="">Voluntariados</a>
            <a href="">Contacto</a>
        </nav>

        <div class="login">
            <div id="login-btn" class="fa-solid fa-user-tie"></div>
            <div class="botones">
                <a href="#" class="btn">Registrate</a>
                <a href="#" class="btn2">Ingresa</a>
            </div>
        </div>

    </header>

    <div class="bloque">
        BLOQUE
    </div>

    <!-- Header fin -->

    <main>

        <!-- Carrusel inicio -->

        <section class="inicio">
            <div class="swiper carrusel-inicio">
                <div class="swiper-wrapper">
                    {{!-- Caja 1 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar1.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                    {{!-- Caja 2 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar2.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                    {{!-- Caja 3 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar3.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                    {{!-- Caja 4 --}}
                    <dir class="swiper-slide caja"
                        style="background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../images/hogar4.jpg)">
                        <div class="contenido">
                            <div class="boton">
                                <img src="../images/logo.png" alt="">
                            </div>
                            <h3>partner</h3>
                            <p>da una mano cerca tuyo</p>
                        </div>
                    </dir>
                </div>
            </div>
        </section>

        <!-- Carrusel fin -->

        <!-- Carrusel-Cards inicio -->

        <section class="cards">

            <h1 class="cardsTitle"><span>hogares</span> más cercanas</h1>

            <div class="swiper cards-slide">

                <div class="swiper-wrapper">
                    {{!-- Aca se encuentran las cards del carrusel --}}
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar1.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Comedor busca voluntarios</h3>
                            <p class="horario">este jueves de 12 a 14hs</p>
                            <span class="nombre">CARITAS</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar2.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Comedor busca voluntarios</h3>
                            <p class="horario">este jueves de 12 a 14hs</p>
                            <span class="nombre">CARITAS</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar3.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Comedor busca voluntarios</h3>
                            <p class="horario">este jueves de 12 a 14hs</p>
                            <span class="nombre">CARITAS</span>
                        </div>
                    </a>
                    <a href="#" class="swiper-slide box">
                        <div class="image">
                            <img src="../images/hogar4.jpg" alt="hogar1">
                        </div>
                        <div class="contenido">
                            <h3 class="titulo">Comedor busca voluntarios</h3>
                            <p class="horario">este jueves de 12 a 14hs</p>
                            <span class="nombre">CARITAS</span>
                        </div>
                    </a>
                </div>

            </div>
        </section>

        <!-- Carrusel-Cards fin -->

    </main>


    <!-- Footer-inicio -->

    <footer>
        <div class="footer-container">

            <div class="caja">
                {{!-- <h2>Nosotros</h2>
                <div class="texto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nobis voluptatum illum
                        laudantium vitae necessitatibus vel molestias. Doloribus ducimus necessitatibus, fuga autem
                        accusamus consectetur repellendus laborum ipsam deserunt similique cum?</p>
                </div> --}}
                <div class="redes">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <div class="caja">
                <h2>Contacto</h2>
                <div class="iconos">
                    <a href="#"><i class="fas fa-phone-alt"></i>+11 123 4567 891</a>
                    <a href="#"><i class="fas fa-envelope"></i>correo@email.com</a>
                </div>
            </div>

            <div class="caja">
                <h2>Navegación</h2>
                <div class="iconos">
                    <a href="#">Inicio</a>
                    <a href="#">Nosotros</a>
                    <a href="#">Casas hogares</a>
                    <a href="#">Contacto</a>
                </div>
            </div>


        </div>

        <div class="copy">Copyright © 2022 <span>Partner S.R.L.</span> | Todos los derechos reservados</div>

    </footer>

    <!-- Footer-fin -->

    <!-- CDN Swipper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- CDN Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Scripts -->
    <script src="../scripts/header.js"></script>

</body>

</html>