<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link de Css -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Link de Swipper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <link rel="icon" href="../images/favicon.png">

    <title>Partner</title>

</head>
<body>
    
    <div class="form-container">
        <div class="section-form">
            <div class="section-form__logo">
                    <img src="../images/logo.png" alt="">
                    <span>partner</span>
            </div>
            <form action="">

                <h1>
                    Bienvenido/a
                </h1>

                <div class="input-contenedor">

                    <label for="email">Email</label>
                    <div>
                        <input id="email" type="text" placeholder="Correo Electronico">
                        <i class="fas fa-envelope icon"></i>
                    </div>

                </div>

                <div class="input-contenedor">

                    <label for="clave">Contraseña</label>
                    <div>
                        <input type="password" placeholder="Contraseña">
                        <i class="fas fa-key icon"></i>
                    </div>

                </div>
                
                <div class="input-botones">
                    <input type="submit" value="Iniciar Sesion">
                    <a href="/register">Registrar nueva Cuenta</a>
                    <a class="back" href="/">Volver a Inicio</a>
                </div>

            </form>
            <div class="copy">
                Copyright © 2022 <span>Partner S.R.L.</span> | Todos los derechos reservados
            </div>
        </div>
        <div class="section-img" style="background-image: url(../images/hogar2.jpg);">

        </div>
    </div>

    <!-- CDN Swipper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- CDN Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Scripts -->
    <script src="../scripts/header.js"></script>
</body>
</html>