.cardsTitle {
    font-size: 2.8rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--letra-negro);
}

.cardsTitle span {
    color: var(--color-principal);
}

.cards .cards-slide .box {
    position: relative;
    text-align: start;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 5%;
    box-shadow: 0rem .5rem  .5rem   rgba(0, 0, 0, .3);
    cursor: pointer;
    height: 254px;
    min-width: 254px;
    max-width: 282px;
}

.cards .cards-slide .box .image {
    height: 160px;
    overflow: hidden;
}

.cards .cards-slide .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover; /*se ajusta a su contenedor. evita que se salgan las letras de las cards*/
}

.cards .cards-slide .box:hover .image img {
    transform: scale(1.2);
    transition: .2s;
}

.cards .cards-slide .box .contenido {
    height: 94px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cards .cards-slide .box .contenido .boton {
    font-size: 1.2rem;
    color: #fff;
    background-color: var(--color-principal);
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    font-weight: bold;
}

.cards .cards-slide .box .contenido h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--letra-negro);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.cards .cards-slide .box .contenido .horario {
    font-size: 1.2rem;
    color: var(--letra-negro);
}

.cards .cards-slide .box .contenido .nombre {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: rgb(105, 102, 102);
    margin-bottom: 0px;
}

/* CARDS SIN CARRUSEL */
.cards_sin_slide .image{
    position: relative;
    text-align: start;
    overflow: hidden;
    margin: 1rem 0;
    border-radius: 5%;
    box-shadow: 0rem .5rem  .5rem  rgba(0, 0, 0, .3);
    cursor: pointer;
    height: 160px;
    min-width: 254px;
    max-width: 282px /* !important */;

}

.cards_sin_slide{
    margin-left: 1rem;
}

.cards_sin_slide_box{
    display: flex;
}
.cards_sin_slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards_sin_slide .contenido h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--letra-negro);
}
.cards_sin_slide .contenido .horario {
    font-size: 1.2rem;
    padding: 0 .4rem;
    color: var(--letra-negro);
}

.cards_sin_slide .contenido .nombre {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: rgb(105, 102, 102);
    padding: 0 .4rem;
    letter-spacing: .3rem;
}