footer {
    background-color: #222;
    padding: 2rem 9%;
    transition: all .2s linear;
}

footer .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

footer .footer-container .caja {
    padding: 2rem;
}

footer .footer-container .caja h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom: 1rem;
}

footer .footer-container .caja .texto {
    color: #eee;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom: 1rem;
}

footer .footer-container .caja .redes {
    padding: 1rem 0;
}

footer .footer-container .caja .redes a i {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    background-color: var(--color-principal);
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    margin: 0 .3rem;
    color: var(--color-secundario);
}

footer .footer-container .caja .redes a i:hover {
    background-color: var(--color-secundario);
    color: var(--color-principal);
}

footer .footer-container .caja .iconos a {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

footer .footer-container .caja .partners{ /*gap establece espacio entre etiquetas hijas del elemento padre (separa las imagenes y otros elementos)*/
    display: flex;
    gap: 15px;
}

footer .footer-container .caja .iconos a img{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
}

/* footer .footer-container .caja .iconos a img{
    width: 15%;
    height: 15%;
    padding: 0%;
    float: left;
    margin: 8px;
} */

footer .footer-container .caja .iconos a i {
    margin-right: .5rem;
    color: var(--color-principal);
}

footer .footer-container .caja .iconos a:hover i {
    padding-right: 2rem;
    color: var(--color-secundario);
}

footer .footer-container .caja .iconos a:hover {
    color: var(--color-principal);
}

footer .copy {
    padding: 3rem 0;
    align-items: center;
    border-top: .1rem solid #808080;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: #eee;
    text-align: center;
}

footer .copy span {
    color: var(--color-principal);
}

/* comienzo CSS DEL NOSOTROS */
.perfiles{
    display: flex;
    min-width: 28px;
    max-width: 27px;
    padding: 42px;
    margin-right: 40px;
    gap: 15px;
}

.perfiles .titulo{
    text-align: center;
}

.titulo{
    font-size: 1.5rem;
}

.perfiles p{
    text-align: center;
    font-size: 50px;
}

.nosotros h1,
          h2{
    color: black;
    font-size: 3.5rem;
    margin: 20px;
}

.nosotros p{
    font-size: 1.5rem;
    padding: 2.5%;
}

.perfiles img{
    width: 25rem;
    height: 25rem;
    object-fit: contain;   
}

/* fin CSS NOSOTROS */

@media(max-width: 1060px) {
    footer {
        padding: .5rem 3%;
    }
}

