#menu-btn {
    display: none;
    font-size: 2.5rem;
    color: var(--letra-negro);
    padding: .5rem;
    cursor: pointer;
}

#menu-btn:hover {
    transform: rotate(180deg);
}

#login-btn:hover {
    color: var(--letra-negro);
}

.bloque {
    max-width: 9.5rem;
    padding: 3rem 9%;
}

.header {
    max-height: 9.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#fff;
    box-shadow: 0rem .1rem  .5rem   black;
    z-index: 1000;
}

.header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 20px;
}

.header .logo img {
    max-height: 34.667px;
}

.header .logo span {
    font-size: 2rem;
    color: var(--letra-negro);
    font-weight: bold;
    letter-spacing: .1rem;
}

/* navbar */

.header .navbar a {
    font-size: 1.6rem;
    color: var(--letra-negro);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--color-principal);
}

/* login */

.header .login {
    padding: .7rem .6rem;
    background-color: #ccc;
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .login:hover {
    background-color: var(--color-principal);
    color: #fff;
}

.header .login:hover #login-btn {
    color: #fff;
}

.header .login p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: .5rem;
}

.header .login #login-btn {
    font-size: 2.4rem;
    color: var(--color-principal);
    background-color: rgb(63, 50, 50);
    padding: .8rem;
    border-radius: 50%;
}

.header .login .botones {
    position: absolute;
    top: 100%;
    left: 80%;
    right: 0;
    clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);
    width: 30%;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0rem .1rem  .1rem   black;
    border-top: 1px solid black;
}

.header .login .botones.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .login .botones a {
    color: var(--letra-negro);
    display: block;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-transform: capitalize;
    padding: .6rem .8rem;
}

.header .login .botones a:hover {
    background-color: var(--color-principal);
    border-radius: 25px;
}

.header .login .botones .btn2 {
    padding-bottom: .8rem;
    border-bottom: 1px solid black;
}

/* ------------------------ media queries -------------------- */

/* ----------- 802px ---------- */

@media(max-width: 802px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

}

/* ---------- Vista tablet ------------ */

/* --------- 768px ---------- */

@media(max-width: 768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);
    }
    
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .header .navbar a {
        display: block;
        color: #fff;
        margin: 2rem;
        font-size: 2rem;
    }

    .header .login {
        background-color: unset;
    }

    .header .login p {
        display: none;
    }

    .header .login #login-btn {
        font-size: 2.8rem;
    }

    .header .login:hover {
        background-color: unset;
    }

    .header .login .botones {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);
        width: unset;
        padding: 1rem 1.5rem;
        background-color: #fff;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: unset;
        box-shadow: unset;
    }

}

/* --------- Vista mobile ------------ */

/* ------ 450px --------- */

@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header .logo span {
        letter-spacing: unset;
    }
}