.inicio {
    padding: 0%;
    transition: all .2s linear;
}

.inicio .carrusel-inicio {
    height: calc(100vh - 9.5rem);
}

.inicio .carrusel-inicio .caja{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-size: cover !important;
    background-position: center !important;
}

.inicio .carrusel-inicio .caja .contenido {
    text-align: center;
    max-width: 70rem;
}

.inicio .carrusel-inicio .caja .contenido .boton {
    display: flex;
    justify-content: center;
    width: 32rem;
    transition-delay: .2s;
}

.inicio .carrusel-inicio .caja .contenido h3 {
    font-size: 5rem;
    color: #fff;
    transition-delay: .4s;
}

.inicio .carrusel-inicio .caja .contenido p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    transition-delay: .6s;
}


.inicio .carrusel-inicio .caja .contenido .boton img {
    width: 100%;
}

.inicio .carrusel-inicio .caja .contenido > * {
    transform: translateY(2rem);
    opacity: 0;
}

.inicio .carrusel-inicio .swiper-slide-active .contenido > * {
    transform: translateY(0);
    opacity: 1;
}

@media(max-width: 768px) {

    .inicio .carrusel-inicio .caja .contenido .boton {
        width: 30rem;
    }

}